<div
    class="h-screen"
    style="background: linear-gradient(0deg, #f1f2f5 0%, #0564ad 100%)"
>
    <div
        class="bg-gray-100 flex align-items-center justify-content-center"
        style="height: 30%"
    >
        <img
            src="assets/layout/images/icon-404.png"
            alt="poseidon-layout"
            width="100px"
            class="block"
        />
    </div>

    <div class="flex align-items-center flex-column" style="height: 70%">
        <div class="p-7 text-center">
            <span class="block text-white text-5xl font-bold mb-4"
                >Página no encontrada</span
            >
            <span class="block text-white mb-6"
                >El recurso que estás buscando no existe.</span
            >
            <button
                pButton
                pRipple
                [routerLink]="['/']"
                label="Dashboard"
                icon="pi pi-home"
                class="w-9 block mx-auto mt-0 mb-8 surface-0 text-color border-none"
            ></button>
            <a [routerLink]="['/']">
                <img
                    src="assets/layout/images/logo-500-500.png"
                    alt="poseidon-layout"
                    class="block mx-auto mt-0 mb-3"
                    style="height: 150px"
                />
            </a>
            <span class="text-white">IESTP Alto Mayo</span>
        </div>
    </div>
</div>
