<div class="grid">
    <div class="col-12">
        <div class="card px-3 py-3">
            <p-toast></p-toast>
            <p-table #dt [value]="tiposServicios" [lazy]="true" (onLazyLoad)="loadTipoServicios($event)" dataKey="id"
            styleClass="p-datatable-sm p-datatable-gridlines" [tableStyle]="{ 'min-width': '75rem' }"
            [paginator]="true" [rows]="rows" selectionMode="single"
            [totalRecords]="totalRecords" [loading]="loading" [showCurrentPageReport]="true"
            [rowsPerPageOptions]="rowsPerPageOptions" [scrollable]="true" scrollHeight="600px"
            currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} registros">
            <ng-template pTemplate="caption">
                <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                    <h5 class="m-0">Mantenimiento de Tipos de Servicios</h5>
                    <div class="my-2">
                        <button pButton pRipple label="Nuevo" icon="pi pi-plus"
                            class="p-button-primary p-button-sm mr-2" (click)="new()"></button>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="idTipoServicio">ID <p-sortIcon field="idTipoServicio"></p-sortIcon></th>
                    <th pSortableColumn="nombreTipoServicio">Nombre Tipo Servicio <p-sortIcon
                            field="nombreTipoServicio"></p-sortIcon>
                    </th>
                    <th pFrozenColumn></th>
                </tr>
                <tr>
                    <th>
                        <p-columnFilter type="text" field="idTipoServicio" [matchModeOptions]="matchModeOptionsNumber"
                            [matchMode]="'equals'"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="nombreTipoServicio" [matchModeOptions]="matchModeOptionsText"
                            [matchMode]="'contains'"></p-columnFilter>
                    </th>
                    <th pFrozenColumn></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
                <tr>
                    <td style="width:20%; min-width:10rem;">
                        <span class="p-column-title">ID</span>
                        {{row.idTipoServicio}}
                    </td>

                    <td style="width:70%; min-width:10rem;">
                        <span class="p-column-title">Nombre Tipo Servicio</span>
                        {{row.nombreTipoServicio}}
                    </td>

                    <td style="width:10%; min-width:10rem;" pFrozenColumn>
                        <div class="flex justify-content-center">
                            <p-button icon="pi pi-pencil" styleClass="p-button-info p-button-text p-button-table"
                                (click)="edit(row)"></p-button>
                            <p-button icon="pi pi-trash" styleClass="p-button-danger p-button-text p-button-table"
                                (click)="delete(row)"></p-button>
                        </div>
                    </td>

                </tr>
            </ng-template>
        </p-table>
        </div>
    </div>
</div>
<p-confirmDialog />
