<div class="grid">
    <div class="col-12">
        <div class="card px-3 py-3">
            <p-toast></p-toast>
            <p-table #dt [value]="almacenes" [lazy]="true" (onLazyLoad)="loadAlmacenes($event)" dataKey="id"
                styleClass="p-datatable-sm p-datatable-gridlines" [tableStyle]="{ 'min-width': '75rem' }"
                [paginator]="true" [rows]="rows" selectionMode="single" [totalRecords]="totalRecords"
                [loading]="loading" [showCurrentPageReport]="true" [rowsPerPageOptions]="rowsPerPageOptions"
                [scrollable]="true" scrollHeight="600px"
                currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} registros">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Mantenimiento de Almacen</h5>
                        <div class="my-2">
                            <button pButton pRipple label="Nuevo Ingreso" icon="pi pi-plus"
                                class="p-button-primary p-button-sm mr-2" [routerLink]="['/pages/almacen/ingreso']"></button>
                            <button pButton pRipple label="Nueva Salida" icon="pi pi-plus"
                                class="p-button-primary p-button-sm mr-2" [routerLink]="['/pages/almacen/salida']"></button>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="idAlmacenMovimiento">ID <p-sortIcon
                            field="idAlmacenMovimiento"></p-sortIcon></th>
                    <th pSortableColumn="tipoMovimiento">Tipo <p-sortIcon field="tipoMovimiento"></p-sortIcon>
                    </th>
                    <th pSortableColumn="fecha">Fecha <p-sortIcon field="fecha"></p-sortIcon>
                    </th>

                    <th pSortableColumn="documento">Documento <p-sortIcon field="documento"></p-sortIcon>
                    </th>
                    <th pSortableColumn="nombreTercero">Cliente / Proveedor <p-sortIcon
                            field="clienteProveedor"></p-sortIcon>
                    </th>
                    <th pSortableColumn="referencia">Referencia <p-sortIcon field="referencia"></p-sortIcon>
                    </th>
                        <th pFrozenColumn></th>
                    </tr>
                    <tr>
                        <th>
                            <p-columnFilter type="text" field="idAlmacenMovimiento"
                                [matchModeOptions]="matchModeOptionsNumber" [matchMode]="'equals'"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="tipoMovimiento" [matchModeOptions]="matchModeOptionsText"
                                [matchMode]="'contains'"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="fecha" [matchModeOptions]="matchModeOptionsText"
                                [matchMode]="'contains'"></p-columnFilter>
                        </th>

                        <th>
                            <p-columnFilter type="text" field="documento" [matchModeOptions]="matchModeOptionsText"
                                [matchMode]="'contains'"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="clienteProveedor" [matchModeOptions]="matchModeOptionsText"
                                [matchMode]="'contains'"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="referencia" [matchModeOptions]="matchModeOptionsText"
                                [matchMode]="'contains'"></p-columnFilter>
                        </th>
                        <th pFrozenColumn></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-row>
                    <tr>
                        <td style="width:10%; min-width:10rem;">
                            <span class="p-column-title">ID</span>
                            {{row.idAlmacenMovimiento}}
                        </td>
                        <td style="width:10%; min-width:10rem;">
                            <span class="p-column-title">Tipo</span>
                            {{row.tipoMovimiento}}
                        </td>

                        <td style="width:10%; min-width:10rem;">
                            <span class="p-column-title">Fecha</span>
                            {{row.fecha}}
                        </td>


                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">Documento</span>
                            {{row.documento}}
                        </td>
                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">Cliente / Proveedor</span>
                            {{row.clienteProveedor}}
                        </td>
                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">Referencia</span>
                            {{row.referencia}}
                        </td>

                        <td style="width:10%; min-width:10rem;" pFrozenColumn>
                            <div class="flex justify-content-center">
                                <p-button *ngIf="row.tipoMovimiento=='INGRESO'" icon="pi pi-pencil" styleClass="p-button-info p-button-text p-button-table"
                                [routerLink]="['/pages/almacen/ingreso', row.idAlmacenMovimiento]"></p-button>
                                <p-button *ngIf="row.tipoMovimiento=='SALIDA'" icon="pi pi-pencil" styleClass="p-button-info p-button-text p-button-table"
                                [routerLink]="['/pages/almacen/salida', row.idAlmacenMovimiento]"></p-button>
                                <p-button icon="pi pi-trash" styleClass="p-button-danger p-button-text p-button-table"
                                    (click)="delete(row)"></p-button>
                            </div>
                        </td>

                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="deleteAlmacenDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-question-circle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="almacen">¿Está seguro que desea eliminar el registro?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-secondary" label="No"
                    (click)="deleteAlmacenDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-danger" label="Si, Eliminar"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

    </div>
</div>
