<div class="grid">

    <p-toast position="top-center" key="tc"></p-toast>
    <div class="col-12 md:col-6">

        <div class="card p-fluid">

            <form [formGroup]="form" (submit)="operate()" #formAlmacen="ngForm">
                <h5>Salida de Almacen</h5>
                <div class="p-formgrid grid">
                    <div class="field col-12 md:col-2">
                        <label for="idAlmacenMovimiento">ID</label>
                        <input pInputText id="idAlmacenMovimiento" type="text" formControlName="idAlmacenMovimiento"
                            readonly />
                        <!-- <input pInputText id="tercero" type="hidden" formControlName="tercero" readonly /> -->
                    </div>
                    <div class="field col-12 md:col-5">
                        <label for="fecha">Fecha</label>
                        <input type="date" pInputText formControlName="fecha" [readOnly]="readOnlyID"/>
                    </div>
                    <div class="field col-12 md:col-5">
                        <label for="tipoMovimiento">Tipo</label>
                        <input type="text" pInputText formControlName="tipoMovimiento" [readOnly]="readOnlyID"/>
                    </div>
                </div>


                <div class="field">
                    <label for="vendedor">Técnico / Empleado</label>
                        <p-dropdown appendTo="body" formControlName="tecnico" [options]="tecnicos" optionLabel="name" [readonly]="readOnlyID"
                            optionValue="code" placeholder="Seleccionar..." [virtualScroll]="true" [virtualScrollItemSize]="2"
                            [ngClass]="{'ng-invalid ng-dirty' : f['tecnico'].touched && f['tecnico'].errors}"></p-dropdown>
                        <small class="ng-dirty ng-invalid"
                            *ngIf="f['tecnico'].errors?.['required'] && f['tecnico'].touched" class="invalid">Es
                            requerido</small>
                </div>

                <div class="p-formgrid grid">

                    <div class="field col-12 md:col-4">
                        <label for="documento">Documento</label>
                        <input type="text" pInputText formControlName="documento" [ngClass]="{'ng-invalid ng-dirty' : f['documento'].touched && f['documento'].errors}"/>
                        <small class="ng-dirty ng-invalid"
                            *ngIf="f['documento'].errors?.['required'] && f['documento'].touched">Es
                            requerido</small>
                    </div>

                    <div class="field col-12 md:col-8">
                        <label for="referencia">Referencia</label>
                        <input type="text" pInputText formControlName="referencia" />
                    </div>

                </div>

                <div class="p-formgrid grid">
                    <div class="field col-12 md:col-6">
                        <label for="producto">Producto</label>
                        <div class="p-inputgroup">
                            <p-autoComplete formControlName="producto" [suggestions]="productosFiltrados" #inputProducto
                                (completeMethod)="filtrarProductos($event)" field="nombreProducto" [minLength]="3"
                                [forceSelection]="true" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"
                                [ngClass]="{'ng-invalid ng-dirty' : f['producto'].touched && f['producto'].errors}">
                                <ng-template let-producto pTemplate="item">
                                    <div>{{ producto.nombreProducto }}</div>
                                </ng-template>
                            </p-autoComplete>
                            <!-- <button type="button" pButton icon="pi pi-plus" styleClass="p-button-warn" (click)="newProducto('')"></button> -->
                        </div>
                    </div>
                    <div class="field col-12 md:col-2">
                        <label for="cantidad">Cantidad</label>
                        <input type="number" pInputText formControlName="cantidad" />
                    </div>
                    <div class="field col-12 md:col-2">
                        <label for="precioUnitario">P.Unit.</label>
                        <input type="number" pInputText formControlName="precioUnitario" />
                    </div>

                    <div class="field col-12 md:col-2">
                        <label>.</label>
                        <button pButton pRipple label="Agregar" class="mr-2 mb-2"
                            type="button" (click)="agregarItem()"></button>
                    </div>

                </div>

                <div>
                    <button pButton pRipple label="Guardar" class="mr-2 mb-2" type="submit"
                        [disabled]="formAlmacen.invalid"></button>
                </div>
            </form>

            <p-table [value]="items">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-row>
                    <tr>
                        <td>
                            {{ row.producto.nombreProducto }} <br>
                            <span>{{row.series}}</span>
                        </td>
                        <td>{{ row.cantidad }}</td>
                        <td>{{ row.precioUnitario }}</td>
                        <td>
                            <div class="flex">
                                <!-- <p-button icon="pi pi-pencil" styleClass="p-button-info p-button-text"
                                    (click)="editDireccion(row)"></p-button> -->
                                <p-button icon="pi pi-trash" styleClass="p-button-danger p-button-text"
                                    (click)="deleteItem(row)"></p-button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </div>

</div>
<p-confirmDialog />
