<div class="card">
    <form [formGroup]="form" (submit)="operate()" #formulario="ngForm">
        <div class="p-fluid mb-4" >
            <div class="formgrid grid">
                <div class="field col md:col-2">
                    <label for="idTipoEgreso">ID</label>
                    <input type="text" pInputText formControlName="idTipoEgreso" readonly />
                </div>
                <div class="field col md:col-10">
                    <label for="nombreTipoEgreso">Nombre Tipo Egreso</label>
                    <input type="text" pInputText formControlName="nombreTipoEgreso"
                        [ngClass]="{'ng-invalid ng-dirty' : f['nombreTipoEgreso'].touched && f['nombreTipoEgreso'].errors}" />
                    <small class="ng-dirty ng-invalid"
                        *ngIf="f['nombreTipoEgreso'].errors?.['required'] && f['nombreTipoEgreso'].touched">Es
                        requerido</small>
                    <small class="ng-dirty ng-invalid"
                        *ngIf="f['nombreTipoEgreso'].errors?.['minlength'] && f['nombreTipoEgreso'].touched">Debe
                        ingresar mínimo 2 caracteres</small>
                </div>

            </div>

        </div>

        <div>
            <button pButton pRipple label="Guardar" class="mr-2 mb-2" type="submit"
                [disabled]="formulario.invalid"></button>
            <button pButton pRipple label="Cancelar" type="button" class="p-button-secondary mr-2 mb-2" (click)="close()"></button>
        </div>

    </form>
</div>
