<div class="grid">
    <div class="col-12">
        <div class="card px-3 py-3">
            <p-toast></p-toast>
            <p-table #dt [value]="ordenes" dataKey="idOrden" [(selection)]="selectedOrdenes"
                styleClass="p-datatable-sm p-datatable-gridlines" [tableStyle]="{ 'min-width': '75rem' }"
                [paginator]="true" [rows]="rows" selectionMode="single" [totalRecords]="totalRecords"
                [loading]="loading" [showCurrentPageReport]="true" [rowsPerPageOptions]="rowsPerPageOptions"
                [scrollable]="true" scrollHeight="600px"
                currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} registros">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Ordenes x Asignar</h5>
                        <div class="my-2">
                            <button pButton pRipple label="Asignar seleccionado" icon="pi pi-tags"
                                class="p-button-secondary p-button-sm mr-2" (click)="asignarSeleccionados()"></button>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
                        <th pSortableColumn="idOrden">ID <p-sortIcon field="idOrden"></p-sortIcon></th>
                        <th pSortableColumn="fechaRegistro">F.Registro <p-sortIcon field="fechaRegistro"></p-sortIcon>
                        </th>
                        <th  pSortableColumn="nombreTercero">Abonado <p-sortIcon
                                field="nombreTercero"></p-sortIcon>
                        </th>
                        <th pSortableColumn="nombreTipoOrden">Tipo <p-sortIcon field="nombreTipoOrden"></p-sortIcon>
                        </th>
                        <th pSortableColumn="nombreSector">Sector <p-sortIcon field="nombreSector"></p-sortIcon></th>
                        <th pSortableColumn="direccion">Dirección <p-sortIcon field="direccion"></p-sortIcon></th>

                        <th pFrozenColumn></th>
                    </tr>
                    <tr>
                        <th></th>
                        <th pFrozenColumn>
                            <p-columnFilter type="text" field="idOrden" [matchModeOptions]="matchModeOptionsNumber"
                                [matchMode]="'contains'"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="fechaRegistro" [matchModeOptions]="matchModeOptionsText"
                                [matchMode]="'contains'"></p-columnFilter>
                        </th>
                        <th >
                            <p-columnFilter type="text" field="nombreTercero" [matchModeOptions]="matchModeOptionsText"
                                [matchMode]="'contains'"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="nombreTipoOrden"
                                [matchModeOptions]="matchModeOptionsText" [matchMode]="'contains'"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="nombreSector" [matchModeOptions]="matchModeOptionsText"
                                [matchMode]="'contains'"></p-columnFilter>
                        </th>
                        <th>
                        </th>
                        <th pFrozenColumn></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-row>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="row" />
                        </td>
                        <td pFrozenColumn style="width:10%; min-width:10rem;">
                            <span class="p-column-title">ID</span>
                            {{row.idOrden}}
                        </td>
                        <td style="width:10%; min-width:10rem;">
                            <span class="p-column-title">F.Registro</span>
                            {{row.fechaRegistro}}
                        </td>
                        <td pFrozenColumn style="width:30%; min-width:20rem;">
                            <span class="p-column-title">Abonado</span>
                            {{row.abonado.tercero.nombreTercero}}
                        </td>
                        <td style="width:20%; min-width:15rem;">
                            <span class="p-column-title">Tipo</span>
                            {{row.tipoOrden.nombreTipoOrden}} -  {{row.detalle}}
                        </td>

                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">Sector</span>
                            {{row.abonado.sector.nombreSector}}
                        </td>
                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">Dirección</span>
                            {{row.abonado.via.tipoVia.idTipoVia}}. {{row.abonado.via.nombreVia}} {{row.abonado.numero}}
                        </td>

                        <td style="width:10%; min-width:10rem;" pFrozenColumn>
                            <div class="flex justify-content-center">
                                <p-button icon="pi pi-print"
                                    styleClass="p-button-secondary p-button-text p-button-table" pTooltip="Imprimir"
                                    (click)="imprimirOrden(row)"></p-button>
                                <p-button icon="pi pi-trash" styleClass="p-button-danger p-button-text p-button-table"
                                    (click)="delete(row)"></p-button>
                            </div>
                        </td>

                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="deleteOrdenDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-question-circle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="orden">¿Está seguro que desea eliminar el registro?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-secondary" label="No"
                    (click)="deleteOrdenDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-danger" label="Si, Eliminar"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

    </div>
</div>
