$primaryLightColor: #A39DE5;
$primaryColor: #817BCB;
$primaryDarkColor: #5751A9;
$primaryDarkerColor: #403B91;
$primaryTextColor: #f8fafc;

$highlightBg: $primaryColor;
$highlightTextColor: $primaryTextColor;
$highlightFocusBg: rgba($primaryColor, 0.24);

@import '../_variables';
@import '../../theme-base/_components';
@import '../_extensions';
@import '../../extensions/_fullcalendar';