<p-sidebar [(visible)]="rightMenuActive" position="right" [baseZIndex]="1000" [transitionOptions]="'.3s cubic-bezier(0, 0, 0.2, 1)'">
    <ng-template pTemplate="headless">
        <div class="flex justify-content-between align-items-center p-3">
            <span class="text-xl font-semibold">Your Tasks Today</span>
            <a type="button" pRipple class="cursor-pointer" (click)="rightMenuActive = false">
                <i class="pi pi-times"></i>
            </a>
        </div>
    </ng-template>
</p-sidebar>
