<div class="grid">
    <div class="col-12">
        <div class="card px-3 py-3">
            <p-toast></p-toast>
            <p-table #dt [value]="productos" [lazy]="true" (onLazyLoad)="loadProductos($event)" dataKey="id"
                styleClass="p-datatable-sm p-datatable-gridlines" [tableStyle]="{ 'min-width': '75rem' }"
                [paginator]="true" [rows]="rows" selectionMode="single" [totalRecords]="totalRecords"
                [loading]="loading" [showCurrentPageReport]="true" [rowsPerPageOptions]="rowsPerPageOptions"
                [scrollable]="true" scrollHeight="600px"
                currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} registros">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Mantenimiento de Productos</h5>
                        <div class="my-2">
                            <button pButton pRipple label="Nuevo" icon="pi pi-plus"
                                class="p-button-primary p-button-sm mr-2" (click)="new()"></button>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="idProducto">ID <p-sortIcon field="idProducto"></p-sortIcon></th>
                        <th pSortableColumn="nombreProducto">Nombre Producto <p-sortIcon
                                field="nombreProducto"></p-sortIcon>
                        </th>
                        <th></th>
                        <th pSortableColumn="stock">Stock <p-sortIcon field="stock"></p-sortIcon>
                        <th pSortableColumn="controlSerie">CS <p-sortIcon field="controlSerie"></p-sortIcon>
                        <th pSortableColumn="controlDevolucion">CD <p-sortIcon field="controlDevolucion"></p-sortIcon>
                        <th pFrozenColumn></th>
                    </tr>
                    <tr>

                        <th>
                            <p-columnFilter type="text" field="idProducto" [matchModeOptions]="matchModeOptionsNumber"
                                [matchMode]="'equals'"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="nombreProducto" [matchModeOptions]="matchModeOptionsText"
                                [matchMode]="'contains'"></p-columnFilter>
                        </th>
                        <th></th>
                        <th>
                            <p-columnFilter type="text" field="stock" [matchModeOptions]="matchModeOptionsNumber"
                                [matchMode]="'equals'"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="controlSerie" [matchModeOptions]="matchModeOptionsNumber"
                                [matchMode]="'equals'"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="controlDevolucion" [matchModeOptions]="matchModeOptionsNumber"
                                [matchMode]="'equals'"></p-columnFilter>
                        </th>
                        <th pFrozenColumn></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-row>
                    <tr>
                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">ID</span>
                            {{row.idProducto}}
                        </td>

                        <td style="width:40%; min-width:10rem;">
                            <span class="p-column-title">Nombre Producto</span>
                            {{row.nombreProducto}}
                        </td>

                        <td style="width:10%; min-width:10rem;">
                            <span class="p-column-title">U.M</span>
                            {{row.unidadMedida}}
                        </td>

                        <td style="width:10%; min-width:10rem;">
                            <span class="p-column-title">Stock</span>
                            {{row.stock}}
                        </td>

                        <td style="width:10%; min-width:10rem;">
                            <span class="p-column-title">CS</span>
                            {{row.controlSerie}}
                        </td>

                        <td style="width:10%; min-width:10rem;">
                            <span class="p-column-title">CD</span>
                            {{row.controlDevolucion}}
                        </td>

                        <td style="width:10%; min-width:10rem;" pFrozenColumn>
                            <div class="flex justify-content-center">
                                <p-button icon="pi pi-pencil" styleClass="p-button-info p-button-text p-button-table"
                                    (click)="edit(row)"></p-button>
                                <p-button icon="pi pi-trash" styleClass="p-button-danger p-button-text p-button-table"
                                    (click)="delete(row)"></p-button>
                            </div>
                        </td>

                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="deleteProductoDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-question-circle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="producto">¿Está seguro que desea eliminar el registro
                    <b>{{producto.nombreProducto}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-secondary" label="No"
                    (click)="deleteProductoDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-danger" label="Si, Eliminar"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

    </div>
</div>
