<div class="grid">
    <div class="col-12">
        <div class="card px-3 py-3">
            <p-toast></p-toast>
            <p-table #dt [value]="ordenes" [lazy]="true" (onLazyLoad)="loadOrdenServicios($event)" dataKey="id"
            styleClass="p-datatable-sm p-datatable-gridlines" [tableStyle]="{ 'min-width': '75rem' }"
            [paginator]="true" [rows]="rows" selectionMode="single"
            [totalRecords]="totalRecords" [loading]="loading" [showCurrentPageReport]="true"
            [rowsPerPageOptions]="rowsPerPageOptions" [scrollable]="true" scrollHeight="600px"
            currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} registros">
            <ng-template pTemplate="caption">
                <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                    <h5 class="m-0">Mantenimiento de Ordenes</h5>
                    <div class="my-2">
                        <button pButton pRipple label="Nuevo" icon="pi pi-plus"
                            class="p-button-primary p-button-sm mr-2" [routerLink]="['/pages/ordenes/registro']"></button>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pFrozenColumn>Acciones</th>
                    <th pFrozenColumn pSortableColumn="idOrdenServicio">ID <p-sortIcon field="idOrdenServicio"></p-sortIcon></th>
                    <th pSortableColumn="fechaHoraRegistro">F.Registro <p-sortIcon field="fechaHoraRegistro"></p-sortIcon></th>
                    <th pSortableColumn="nombreRazonSocial">Cliente <p-sortIcon field="nombreRazonSocial"></p-sortIcon></th>
                    <th pSortableColumn="area">Área <p-sortIcon field="area"></p-sortIcon></th>
                    <th pSortableColumn="origen">Origen <p-sortIcon field="origen"></p-sortIcon></th>
                    <th pSortableColumn="destino">Destino <p-sortIcon field="destino"></p-sortIcon></th>
                    <th pSortableColumn="consignatario">Consignatario <p-sortIcon field="consignatario"></p-sortIcon></th>
                    <th pSortableColumn="piezas">Piezas <p-sortIcon field="piezas"></p-sortIcon></th>
                    <th pSortableColumn="peso">Peso <p-sortIcon field="peso"></p-sortIcon></th>
                    <th pSortableColumn="total">Total <p-sortIcon field="total"></p-sortIcon></th>
                    <th pSortableColumn="estadoOperacion">EO <p-sortIcon field="estadoOperacion"></p-sortIcon></th>
                    <th pSortableColumn="estadoFacturacion">EF <p-sortIcon field="estadoFacturacion"></p-sortIcon></th>
                    <th pSortableColumn="idManifiestoSalida">MS <p-sortIcon field="idManifiestoSalida"></p-sortIcon></th>
                    <th pSortableColumn="idLiquidacionCliente">LC <p-sortIcon field="idLiquidacionCliente"></p-sortIcon></th>

                </tr>
                <tr>
                    <th pFrozenColumn></th>
                    <th pFrozenColumn>
                        <p-columnFilter type="text" field="idOrdenServicio" [matchModeOptions]="matchModeOptionsText" [matchMode]="'contains'"></p-columnFilter>
                    </th>


                    <th>
                        <p-columnFilter type="date" field="fechaHoraRegistro" [matchModeOptions]="matchModeOptionsDate" [matchMode]="'dateIs'"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="nombreRazonSocial" [matchModeOptions]="matchModeOptionsText" [matchMode]="'contains'"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="area" [matchModeOptions]="matchModeOptionsText" [matchMode]="'contains'"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="origen" [matchModeOptions]="matchModeOptionsText" [matchMode]="'contains'"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="destino" [matchModeOptions]="matchModeOptionsText" [matchMode]="'contains'"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="consignatario" [matchModeOptions]="matchModeOptionsText" [matchMode]="'contains'"></p-columnFilter>
                    </th>
                    <th>
                        <!-- piezas -->
                    </th>
                    <th>
                        <!-- peso -->
                    </th>
                    <th>
                        <!-- total -->
                    </th>
                    <th>
                        <p-columnFilter type="text" field="estadoOperacion" [matchModeOptions]="matchModeOptionsText" [matchMode]="'contains'"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="estadoFacturacion" [matchModeOptions]="matchModeOptionsText" [matchMode]="'contains'"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="idManifiestoSalida" [matchModeOptions]="matchModeOptionsNumber" [matchMode]="'equals'"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="idLiquidacionCliente" [matchModeOptions]="matchModeOptionsNumber" [matchMode]="'equals'"></p-columnFilter>
                    </th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
                <tr>
                    <td style="width:10%; min-width:5rem;" pFrozenColumn>
                        <div class="flex justify-content-center">
                            <p-button icon="pi pi-pencil" styleClass="p-button-info p-button-text p-button-table"
                                (click)="edit(row)"></p-button>
                            <p-button icon="pi pi-trash" styleClass="p-button-danger p-button-text p-button-table"
                                (click)="delete(row)"></p-button>
                        </div>
                    </td>

                    <td style="width:15%; min-width:10rem;" pFrozenColumn>
                        <span class="p-column-title">ID</span>
                        {{row.idOrdenServicio}}
                    </td>

                    <td style="width:20%; min-width:10rem;">
                        <span class="p-column-title">F.Registro</span>
                        {{row.fechaHoraRegistro | date: 'dd/MM/yyyy'}}
                    </td>

                    <td style="width:20%; min-width:20rem;">
                        <span class="p-column-title">Cliente</span>
                        {{row.nombreRazonSocial}}
                    </td>
                    <td style="width:5%; min-width:10rem;">
                        <span class="p-column-title">Área</span>
                        {{row.area}}
                    </td>
                    <td style="width:15%; min-width:10rem;">
                        <span class="p-column-title">Origen</span>
                        {{row.distrito}}
                    </td>
                    <td style="width:20%; min-width:10rem;">
                        <span class="p-column-title">Destino</span>
                        {{row.destino}}
                    </td>
                    <td style="width:20%; min-width:20rem;">
                        <span class="p-column-title">Consignatario</span>
                        {{row.consignatario}}
                    </td>
                    <td style="width:10%; min-width:7rem;" class="text-right">
                        <span class="p-column-title">Piezas</span>
                        {{row.piezas}}
                    </td>
                    <td style="width:10%; min-width:7rem;" class="text-right">
                        <span class="p-column-title">Peso</span>
                        {{row.peso}}
                    </td>
                    <td style="width:10%; min-width:7rem;" class="text-right">
                        <span class="p-column-title">Total</span>
                        {{row.total | currency:' '}}
                    </td>
                    <td style="width:10%; min-width:10rem;">
                        <span class="p-column-title">EO</span>
                        {{row.estadoOperacion}}
                    </td>
                    <td style="width:10%; min-width:10rem;">
                        <span class="p-column-title">EF</span>
                        {{row.estadoFacturacion}}
                    </td>
                    <td style="width:10%; min-width:10rem;">
                        <span class="p-column-title">MS</span>
                        {{row.idManifiestoSalida}}
                    </td>
                    <td style="width:10%; min-width:10rem;">
                        <span class="p-column-title">LC</span>
                        {{row.idLiquidacionCliente}}
                    </td>


                </tr>
            </ng-template>
        </p-table>
        </div>

        <p-dialog [(visible)]="deleteOrdenServicioDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-question-circle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="ordenServicio">¿Está seguro que desea eliminar el registro <b>{{ordenServicio.idOrdenServicio}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-secondary" label="No"
                    (click)="deleteOrdenServicioDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-danger" label="Si, Eliminar"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

    </div>
</div>
