<div class="card">
    <form [formGroup]="form" (submit)="operate()" #formulario="ngForm">
        <div class="p-fluid mb-4">
            <div class="formgrid grid">
                <div class="field col md:col-4">
                    <label for="idCajaEgreso">ID</label>
                    <input type="text" pInputText formControlName="idCajaEgreso" readonly />
                </div>
                <div class="field col md:col-8">
                    <label for="fecha">Fecha</label>
                    <input type="date" pInputText formControlName="fecha"
                        [ngClass]="{'ng-invalid ng-dirty' : f['fecha'].touched && f['fecha'].errors}" />
                    <small class="ng-dirty ng-invalid" *ngIf="f['fecha'].errors?.['required'] && f['fecha'].touched">Es
                        requerido</small>
                    <small class="ng-dirty ng-invalid"
                        *ngIf="f['fecha'].errors?.['minlength'] && f['fecha'].touched">Debe
                        ingresar mínimo 2 caracteres</small>
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col md:col-6">
                    <label for="tipoEgreso">Tipo</label>
                    <p-dropdown appendTo="body" formControlName="tipoEgreso" [options]="tiposEgresos" [filter]="true"
                        filterBy="nombreTipoEgreso" [showClear]="true" optionLabel="nombreTipoEgreso" [virtualScroll]="true" [virtualScrollItemSize]="2"
                        placeholder="Seleccionar..."
                        [ngClass]="{'ng-invalid ng-dirty' : f['tipoEgreso'].touched && f['tipoEgreso'].errors}"></p-dropdown>
                    <small class="ng-dirty ng-invalid"
                        *ngIf="f['tipoEgreso'].errors?.['required'] && f['tipoEgreso'].touched" class="invalid">Es
                        requerido</small>
                </div>
                <div class="field col md:col-6">
                    <label for="documento">Documento</label>
                    <input type="text" pInputText formControlName="documento"
                        [ngClass]="{'ng-invalid ng-dirty' : f['documento'].touched && f['documento'].errors}" />
                    <small class="ng-dirty ng-invalid"
                        *ngIf="f['documento'].errors?.['required'] && f['documento'].touched">Es
                        requerido</small>
                    <small class="ng-dirty ng-invalid"
                        *ngIf="f['documento'].errors?.['minlength'] && f['documento'].touched">Debe
                        ingresar mínimo 2 caracteres</small>
                </div>
            </div>

            <div class="formgrid grid">
                <div class="field col md:col-12">
                    <label for="proveedor">Proveedor</label>
                    <input type="text" pInputText formControlName="proveedor"
                        [ngClass]="{'ng-invalid ng-dirty' : f['proveedor'].touched && f['proveedor'].errors}" />
                    <small class="ng-dirty ng-invalid"
                        *ngIf="f['proveedor'].errors?.['required'] && f['proveedor'].touched">Es
                        requerido</small>
                    <small class="ng-dirty ng-invalid"
                        *ngIf="f['proveedor'].errors?.['minlength'] && f['proveedor'].touched">Debe
                        ingresar mínimo 2 caracteres</small>
                </div>
            </div>

            <div class="formgrid grid">
                <div class="field col md:col-12">
                    <label for="glosa">Glosa</label>
                    <input type="text" pInputText formControlName="glosa"
                        [ngClass]="{'ng-invalid ng-dirty' : f['glosa'].touched && f['glosa'].errors}" />
                    <small class="ng-dirty ng-invalid" *ngIf="f['glosa'].errors?.['required'] && f['glosa'].touched">Es
                        requerido</small>
                    <small class="ng-dirty ng-invalid"
                        *ngIf="f['glosa'].errors?.['minlength'] && f['glosa'].touched">Debe
                        ingresar mínimo 2 caracteres</small>
                </div>
            </div>

            <div class="formgrid grid">
                <div class="field col md:col-6">
                    <label for="importe">Importe</label>
                    <input type="number" pInputText formControlName="importe"
                        [ngClass]="{'ng-invalid ng-dirty' : f['importe'].touched && f['importe'].errors}" />
                    <small class="ng-dirty ng-invalid"
                        *ngIf="f['importe'].errors?.['required'] && f['importe'].touched">Es
                        requerido</small>
                    <small class="ng-dirty ng-invalid"
                        *ngIf="f['importe'].errors?.['minlength'] && f['importe'].touched">Debe
                        ingresar mínimo 2 caracteres</small>
                </div>

            </div>
        </div>

        <div>
            <button pButton pRipple label="Guardar" class="mr-2 mb-2" type="submit"
                [disabled]="formulario.invalid"></button>
            <button pButton pRipple label="Cancelar" type="button" class="p-button-secondary mr-2 mb-2"
                (click)="close()"></button>
        </div>

    </form>
</div>
