$primaryLightColor: #7FA7CC;
$primaryColor:#557DAA;
$primaryDarkColor: #3E6192;
$primaryDarkerColor: #2A487A;
$primaryTextColor: #f8fafc;

$highlightBg: $primaryColor;
$highlightTextColor: $primaryTextColor;
$highlightFocusBg: rgba($primaryColor, 0.24);

@import '../_variables';
@import '../../theme-base/_components';
@import '../_extensions';
@import '../../extensions/_fullcalendar';