<div class="grid">
    <div class="col-12">
        <div class="card px-3 py-3">
            <p-toast></p-toast>
            <p-table #dt [value]="liquidaciones" [lazy]="true" (onLazyLoad)="loadLiquidaciones($event)" dataKey="id"
            styleClass="p-datatable-sm p-datatable-gridlines" [tableStyle]="{ 'min-width': '75rem' }"
            [paginator]="true" [rows]="rows" selectionMode="single" sortField="fechaPago" [sortOrder]="-1"
            [totalRecords]="totalRecords" [loading]="loading" [showCurrentPageReport]="true"
            [rowsPerPageOptions]="rowsPerPageOptions" [scrollable]="true" scrollHeight="600px"
            currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} registros">
            <ng-template pTemplate="caption">
                <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                    <h5 class="m-0">Liquidaciones registradas</h5>
                    <div class="my-2">
                        <button pButton pRipple label="Nuevo" icon="pi pi-plus"
                            class="p-button-primary p-button-sm mr-2" (click)="new()"></button>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="idLiquidacion">ID <p-sortIcon field="idLiquidacion"></p-sortIcon></th>
                    <th pSortableColumn="fechaEmision">Emision <p-sortIcon field="fechaEmision"></p-sortIcon></th>
                    <th pSortableColumn="fechaCierre">Cierre <p-sortIcon field="fechaCierre"></p-sortIcon>
                    <th pSortableColumn="fechaVencimiento">Vencimiento <p-sortIcon field="fechaVencimiento"></p-sortIcon>
                    <th pSortableColumn="anio">Año <p-sortIcon field="anio"></p-sortIcon>
                    <th pSortableColumn="periodo">Periodo <p-sortIcon field="periodo"></p-sortIcon>
                    </th>
                    <th pFrozenColumn></th>
                </tr>
                <tr>
                    <th>
                        <p-columnFilter type="text" field="idLiquidacion" [matchModeOptions]="matchModeOptionsNumber"
                            [matchMode]="'equals'"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="fechaEmision" [matchModeOptions]="matchModeOptionsText"
                            [matchMode]="'contains'"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="fechaCierre" [matchModeOptions]="matchModeOptionsText"
                            [matchMode]="'contains'"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="fechaVencimiento" [matchModeOptions]="matchModeOptionsText"
                            [matchMode]="'contains'"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="anio" [matchModeOptions]="matchModeOptionsText"
                            [matchMode]="'contains'"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="periodo" [matchModeOptions]="matchModeOptionsNumber"
                            [matchMode]="'equals'"></p-columnFilter>
                    </th>

                    <th pFrozenColumn></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
                <tr>
                    <td style="width:10%; min-width:10rem;">
                        <span class="p-column-title">ID</span>
                        {{row.idLiquidacion}}
                    </td>

                    <td style="width:10%; min-width:10rem;">
                        <span class="p-column-title">Emisión</span>
                        {{row.fechaEmision}}
                    </td>
                    <td style="width:30%; min-width:10rem;">
                        <span class="p-column-title">Cierre</span>
                        {{row.fechaCierre}}
                    </td>
                    <td style="width:10%; min-width:10rem;">
                        <span class="p-column-title">Vencimiento</span>
                        {{row.fechaVencimiento}}
                    </td>
                    <td style="width:20%; min-width:10rem;">
                        <span class="p-column-title">Año</span>
                        {{row.anio}}
                    </td>
                    <td style="width:10%; min-width:10rem;" class="text-right">
                        <span class="p-column-title">Periodo</span>
                        {{row.periodo}}
                    </td>
                    <td style="width:10%; min-width:10rem;" pFrozenColumn>
                        <div class="flex justify-content-center">
                            <p-button icon="pi pi-pencil" styleClass="p-button-info p-button-text p-button-table"
                                (click)="edit(row)"></p-button>
                            <p-button icon="pi pi-trash" styleClass="p-button-danger p-button-text p-button-table"
                                (click)="delete(row)"></p-button>
                        </div>
                    </td>

                </tr>
            </ng-template>
            <!-- <ng-template pTemplate="footer">
                <tr>
                    <td colspan="5" class="text-right">Totales</td>
                    <td class="text-right">{{granTotal | currency: ''}}</td>
                    <td></td>
                </tr>
            </ng-template> -->
        </p-table>
        </div>

        <p-dialog [(visible)]="deleteLiquidacionDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-question-circle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="liquidacion">¿Está seguro que desea eliminar el registro?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-secondary" label="No"
                    (click)="deleteLiquidacionDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-danger" label="Si, Eliminar"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

    </div>
</div>
